<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".admin.EditBikeActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AddBikeActivity"
            android:exported="false" />
        <activity android:name=".admin.OtherBikesActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ManageBikesActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ManageUsersActivity"
            android:exported="false" />
        <activity
            android:name=".admin.PaidReservationsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.OtherReservationsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ConfirmedReservationActivity"
            android:exported="false" />
        <activity
            android:name=".admin.EndedReservationsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ManageBikeActivity"
            android:exported="false" />
        <activity
            android:name=".admin.CanceledReservationsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ManageAdminsActivity"
            android:exported="false" />
        <activity
            android:name=".EditReservationDialogFragment"
            android:exported="false" />
        <activity
            android:name=".ManageReservationsActivity"
            android:exported="false" />
        <activity
            android:name=".ReservationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".UserReservationActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ReservationActivity"
            android:exported="false" />
        <activity
            android:name=".BikeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AddCardActivity"
            android:exported="false" />
        <activity
            android:name=".ManagePayment"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminPanelActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity android:name=".UserProfileActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>